doctype
html(lang="en" ng-app="app")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    title(ng-bind="$state.current.name+' - EDGY.BLACK(ver α)'") EDGY.BLACK
    base(href="/")
    link(rel="stylesheet" href="http://static.edgy.black/misaki_gothic.css")
    link(rel="stylesheet" href="http://static.edgy.black/pixel_mplus10.css")
    link(rel="stylesheet" href="http://static.edgy.black/bmplamo.css")
    link(rel="stylesheet" href="http://static.edgy.black/bmrizer.css")
    script(src="pkgs.min.js")

    script window.process= {env:{PUBLIC_URL:"#{process.env.PUBLIC_URL}"}}
    
    style: include:stylus index.styl
    script: include:coffeeify index.coffee
  body(ui-view)