@import 'kouto-swiss'

item_height= 2.5em
menu_height= item_height * 1

@import 'lib/styl/*'

meyer-reset()
edgy()

// routes

.front
  front()

.artworks
  artworks()
.artwork_add
  artwork_add()
.artwork_edit
  artwork_edit()
.artwork_view
  artwork_view()
.artwork_view_remove
  artwork_view_remove()
.artwork_remove
  artwork_remove()
  
.timeline
  timeline()
  
.timeline_remove
  timeline_remove()

.front_mypage
  front_mypage()
.front_guest
  front_guest()
  
.front_mypage_artworks
  front_mypage_artworks()
.front_mypage_stats
  front_mypage_stats()
.front_mypage_edit
  front_mypage_edit()
.front_mypage_quit
  front_mypage_quit()

.mypage
  mypage()

.error
  error()

.help
  help()