.mypage_quit
  form(name="quit" ng-submit="quit.$valid && submit()")
    figcaption
      h2 退会する
      p 退会するには、マイページURLを入力してください…

      label.mypage_id
        input(
          ng-model="mypage_id"
          ng-pattern="mypage_id_confirm"
          required
          placeholder="マイページURL"
        )
        .hostname
          | .#{process.env.MYPAGE_HOST}

      footer(ng-show="quit.$invalid")
        p にゅうりょくしてね
      footer(ng-hide="quit.$invalid")
        p 元に戻りませんよ？
        button はい
        button(type="button" ng-click="back()") いいえ
    figure
      img(ng-src="{{user.Storage.url}}" jaggy)
