section(ng-show="comment.user_id != user.id")
  figure.from
    a(ng-click="location('http://'+comment.User.mypage_id+'.#{process.env.MYPAGE_HOST}/')")
      img(ng-src="{{comment.User.Storage.url}}" jaggy)
    h3 {{comment.User.name}}
    time(am-time-ago="comment.created_at")
  figcaption
    pre(ng-model="comment.body" parse-url)
    footer(ng-show="comment.Artwork.id")
      a(ui-sref="^.view({id:comment.Artwork.id})")
        | {{'FOR_ARTWORK'| translate}}{{comment.Artwork.title}}{{'FOR_ARTWORK_SUF'| translate}} 
  .to
section(ng-show="comment.user_id == user.id")
  .to()
    a(ui-sref=".remove({comment_id:comment.id})" ng-hide="$state.params.comment_id")
      | X
  figcaption
    pre(ng-model="comment.body" parse-url)
    footer(ng-show="comment.Artwork.id")
      a(ui-sref="front.view({id:comment.Artwork.id})")
        | {{'FOR_ARTWORK'| translate}}{{comment.Artwork.title}}{{'FOR_ARTWORK_SUF'| translate}} 
  figure.from
    a(ng-click="location('http://'+comment.User.mypage_id+'.#{process.env.MYPAGE_HOST}/')")
      img(ng-src="{{comment.User.Storage.url}}" jaggy)
    h3 {{comment.User.name}}
    time(am-time-ago="comment.created_at")