.artworks
  article
    form.logo(ng-submit="find(words)")
      input(placeholder="{{'TITLE_FULL' | translate}}" ng-model="words")
      footer(ng-show="words.length")
        p(ng-show="filtered.length")
          | {{filtered.length}} {{'FOUND'| translate}}
        p(ng-show="!filtered.length")
          | {{'NOT_FOUND'| translate}}
    nav
      a(
        ng-repeat="artwork in filtered= (artworks|filter:words)"

        ui-sref="^.view({id:artwork.id})"
      )
        img(ng-src="{{artwork.Storage.url+'?'+artwork.Storage.updated_at}}" jaggy)
