.mypage

  .artworks(ng-show="user")
    figcaption
      header
        h2 {{'MYPAGE_USER'| translate}}{{user.name}}{{'MYPAGE_USER_SUF'| translate}}
      
      section
        h2 {{'MYPAGE_STATS'| translate}}
        dl.stats
          dt
            img(ng-src="icons/add.gif" jaggy)
            | {{'MYPAGE_STATS_ADD'| translate}}
          dd
            a(ui-sref=".stats({type:'add'})")
              | {{stats.artworks | number:0}}

          dt
            img(ng-src="icons/comment.gif" jaggy)
            | {{'MYPAGE_STATS_COMMENT'| translate}}
          dd
            a(ui-sref=".stats({type:'comment'})")
              | {{stats.comments | number:0}}

          dt
            img(ng-src="icons/view.gif" jaggy)
            | {{'MYPAGE_STATS_VIEW'| translate}}
          dd
            a(ui-sref=".stats({type:'view'})")
              | {{stats.views | number:0}}

    figure
      a(ui-sref=".edit")
        img(ng-src="{{user.Storage.url}}" jaggy)

      seciton(ng-show="user")
        h2 {{user.name}}
        pre {{user.bio}}

        nav
          a(ui-sref=".edit") {{'MYPAGE_EDIT'| translate}}
          a(href="#" ng-click="location('http://'+user.mypage_id+'.#{process.env.MYPAGE_HOST}')")
            | {{'WEBSITE'| translate}} （α）
          a(href="#" ng-click="logout()") {{'MYPAGE_LOGOUT'| translate}}
          
        nav.danger
          a(ui-sref=".quit") {{'MYPAGE_QUIT'| translate}}

  .artworks(ng-show="!user")
    figcaption
      header
        h2 {{'MYPAGE_GUEST'| translate}}

      section
        dl
          dt {{'MYPAGE_GUEST_MSG'| translate}}
    figure
      img(jaggy)
      nav
        a(href="#" ng-click="location('/mypage/auth/')")
          | {{'MYPAGE_LOGIN_TWITTER'| translate}}

ui-view