.mypage

  .artworks(ng-show="user")
    figcaption
      header
        h2 {{'MYPAGE_USER'| translate}}{{user.name}}{{'MYPAGE_USER_SUF'| translate}}
      
      section
        h2 {{'MYPAGE_STATS'| translate}}
        dl.stats
          dt
            img(ng-src="icons/add.gif" jaggy)
            | {{'MYPAGE_STATS_ADD'| translate}}
          dd
            a(ui-sref=".stats({type:'add'})")
              | {{stats.artworks | number:0}}

          dt
            img(ng-src="icons/comment.gif" jaggy)
            | {{'MYPAGE_STATS_COMMENT'| translate}}
          dd
            a(ui-sref=".stats({type:'comment'})")
              | {{stats.comments | number:0}}

          dt
            img(ng-src="icons/view.gif" jaggy)
            | {{'MYPAGE_STATS_VIEW'| translate}}
          dd
            a(ui-sref=".stats({type:'view'})")
              | {{stats.views | number:0}}

    figure
      a(ui-sref=".edit")
        img(ng-src="{{user.Storage.url}}" jaggy)

      seciton(ng-show="user")
        h2 {{user.name}}
        pre {{user.bio}}

        nav
          a(ui-sref=".edit") {{'MYPAGE_EDIT'| translate}}
          a(href="{{'http://'+user.mypage_id+'.#{process.env.MYPAGE_HOST}'}}")
            | {{'WEBSITE'| translate}} （α）
          a(href="#" ng-click="logout()") {{'MYPAGE_LOGOUT'| translate}}
          
        nav.danger
          a(ui-sref=".quit") {{'MYPAGE_QUIT'| translate}}

  .guest(ng-show="!user")
    section
      header
        h1 {{'TITLE_FULL' | translate}}
        h2 2015
        //- h3: a(href="https://twitter.com/horse_n_deer") {{'Author'| translate}}
      nav
        
        a(href="#" ng-click="location('/mypage/auth/')")
          | {{'MYPAGE_LOGIN_TWITTER'| translate}}
        a(ui-sref="front.help")
          | {{'HELP'| translate}}

ui-view