.artwork_remove
  figure
    a(ng-click="location(artwork.Storage.url)" ng-style="{'top':scrollY+'px'}")
      img(ng-src="{{artwork.Storage.url}}" jaggy)
  figcaption
    form(ng-submit="remove()")
      header
        h2 {{'DELETE_MSG'| translate}}
      
      section
        h2 {{artwork.title}}
        pre {{artwork.description}}
        footer
          time(am-time-ago="artwork.created_at")
          a(href="#" ng-click="location('http://'+artwork.User.name+'.localhost:59798/')")
            img(ng-src="{{artwork.Face.url}}")
            | {{artwork.User.name}}

      footer
        h2 {{'DELETE_VALID'| translate}}

        button {{'DELETE_YES'| translate}}
        button(type="button" ng-click="back()") {{'DELETE_NO'| translate}}