artworks()
  .logo
    fixed 0
    margin auto
    
    opacity .75
    
    font-size 2em
    width 80vw
    height 1em
    z-index 100
    
    input
      box-sizing-reset()
      size 100%
      // padding .25em 0
      font-size 1em
      text-align center
    footer
      position absolute
      font-size 80%
      top 1.25em
      right 0
      padding 0 1em
      theme_sepia()
  
  footer
    text-align center
  
  nav
    [ng-repeat].ng-enter
      animation fadeIn .5s
    
    tile(15)
  
artwork_add()
  form
    form()
    
    textarea
      min-height 40vh
      
artwork_edit()
  artwork_add()

artwork_view()
  showcase()
      
  >figcaption
    theme_light()
  
    >section
      padding 1em
      h2+*
        padding .5em 0
      
      >footer
        text-align right
        font-size .8em
      
      time
        margin-right .5em
        
  .shares
    nav
      text-align right
      a
        font-size 150%
        font-family 'BMplamo','misaki_gothic',monospace
  
  .comments
    theme_sepia()

    form
      letter()
    
      input
        padding .25em .5em
      button
        theme_dark()
      
    ul
      margin .5em 0
      margin-bottom 0
      li
        section
          comment()
          figcaption
            theme_light()
        .to
          a
            theme_dark()
      
      li+li
        margin-top .5em

  .notify
    a
      notify()
      theme_dark()

artwork_view_remove()
  overlay()
  prompt()
  
  section
    comment()
    
    figcaption
      theme_sepia()
  
  footer
    margin-top 1em

artwork_remove()
  artwork_view()
  
  figcaption
    header
    footer
      padding .5em 1em
      padding-bottom 1em
    
    section
      theme_sepia()
      
      padding 1em
    
    footer
      button
        margin-right .5em

timeline()
  margin 1em

  header
    margin-bottom 1em
    
    .notify
      a
        notify()
    
    form
      letter()
      input
      button
        padding .5em
        
  ul
    li
      section
        comment()
        
        .to
          a
            theme_light()
        
        figcaption
          theme_light()
      
    li+li
      margin-top .5em

timeline_remove()
  artwork_view_remove()

front_mypage()
  >*
    fig()
  figcaption
    header
      padding 1em
  
  section
    padding 0 1em
    
  .stats
    theme_light()
    
    dd
    a
      font-family 'PixelMplus10',monospace
    
    a
      text-decoration underline
  
  .danger
    a
      theme_highlight()
      
  figure
    font-size inherit
    
    nav
      a
        size 100%
        padding .5em
        theme_light()

front_guest()
  logo_size= 6vw
  overlay()
  > *
    central()
    font-size logo_size
    width 12.5em
    height 4em
    padding 0
    
    header
      text-align right
    
    h1
    h2
      font-family 'BMRizer',monospace
      
    h1
      font-size logo_size
    h2
      font-size logo_size * .50
    h3
      font-size logo_size * .50
    
    nav
      a
        font-size logo_size * .50
        
        display block
        margin .25em auto
        padding .25em
        width 10em
        // &:focus
        theme_sepia()
 
front_mypage_stats()
  prompt()
  >*
    svg
      size 2em
  
  h3
    margin-bottom .5em
  
  ol
    li
      display inline-block
      width calc(100% \/ 4)
      height calc(100% \/ 2 \- 3em)
      
      h4
        span
          display block
          white-space nowrap
          overflow hidden
      
      box-sizing-reset()
      p
        text-align right
        font-size 150%
        font-family 'PixelMplus10',monospace
      
      &:nth-of-type(2)
      &:nth-of-type(4)
      &:nth-of-type(5)
      &:nth-of-type(7)
      &:nth-of-type(10)
      &:nth-of-type(12)
      &:nth-of-type(13)
      &:nth-of-type(15)
        theme_sepia()

front_mypage_edit()
  overlay()
  
  form
    form()

    .mypage_id
      input
        max-width 8em
    textarea
      margin-bottom 1em
      
front_mypage_quit()
  mypage_edit()
  
  form
    figure
      theme_highlight()
    figcaption
      theme_dark()
    h2
      padding .5em
    p
    label
      text-align left
      padding-left 1em
    
    footer
      p
        text-align center