edgy()
  body
    theme_dark()
    ::selection
      theme_highlight()
    
    *
      font-family 'misaki_gothic',monospace
    pre
    textarea
      font-family 'PixelMplus10',monospace

    @media (orientation:portrait)
      font-size 5vw
    @media (orientation:landscape)
      font-size 5vh
  
  // stereotypes
  .logo
    input
      +placeholder()
        line-height 2
        font-size 50%
        font-family 'BMRizer','misaki_gothic',monospace
  .guest
    h1
    h2
    h3
    h3 a
      font-family 'BMRizer','misaki_gothic',monospace
    h3
    h3 a
      font-size 50%
  .close
    absolute 1em 1em false false

  [disabled]
    opacity .5
    
  ui-view
  [ui-view]
    display block
    size 100%

  [ui-view].ng-enter
  body ui-view.ng-enter
    animation fadeIn .5s
  [ui-view].ng-leave
  body ui-view.ng-leave
    absolute 0
    animation fadeOut .5s
  
  html
    -ms-overflow-style scrollbar !important
    // https://twitter.com/simevidas/status/585968924883341312
  
  h1
    font-size 200%
  h2
    font-size 150%
  h3
    font-size 100%
  h4
    font-size 80%
  h5
    font-size 60%
  p
    font-size smaller
    
  pre
    white-space pre-line
    word-break break-word
    padding .5em 0
    
  section
    img
    svg
      width 2em
      margin-right .5em
      vertical-align middle
      
  dl   
    padding .5em
    
    dt
      svg
        size 2em

    dd
      display block
      font-size 300%
      text-align right
      
  a
    color inherit
    text-decoration none
    
    &:hover
      cursor pointer
      transition opacity .5s linear
      opacity .5
  
  svg
    size 100%
  
  label
  input
  button
  textarea
    font-size inherit
  
  label
  input
  button
  textarea
    box-sizing-reset()
    display block
    width 100%
    border 0
    padding 0
    
    &:focus
      theme_sepia()
    
  label
    display flex
    > *
      display block
    
  textarea
    width 100%
    min-height 5em
    
  time
    font-size smaller
    display block
    
  button
    display inline-block
    width auto
    theme_sepia()